.dropdown-menu>li, .dropdown-menu>.dropdown-item {
    line-height: 20px;
    color: #3f3f3f;
    padding: 4px 8px 4px 16px;
    border-radius: 3px;
    display: block;
    clear: both;
    white-space: nowrap;
    text-align: left;
}
.dropdown-menu>a {
    line-height: 35px;
    color: #3f3f3f;
    padding: 0 20px;
    border-radius: 3px;
    display: block;
    clear: both;
    white-space: nowrap;
    text-align: left;
}
.jamb_view h5{
    display: block;
    background: #1D9D21 !important;
    padding: 5px 10px;
    color: #fff;
    margin-bottom: 0;
}

.jamb_view ul{
    padding: 0;
    margin: 0;
    display: block;
    background: #fdd119;
}

.jamb_view ul li{
    padding: 5px 20px;
    color: #000;
    font-weight: 600;
    list-style: none;
    float: left;
    line-height: normal;
    border-right: 1px solid rgba(0,0,0,.20);
}
.jamb_view ul li:first-child{
    padding-left: 10px;
}
.jamb_view ul li:last-child{
    border-right: none!important;
}