.dropdown-menu>li, .dropdown-menu>.dropdown-item {
    line-height: 20px;
    color: #3f3f3f;
    padding: 4px 8px 4px 16px;
    border-radius: 3px;
    display: block;
    clear: both;
    white-space: nowrap;
    text-align: left;
}
.dropdown-menu>a {
    line-height: 35px;
    color: #3f3f3f;
    padding: 0 20px;
    border-radius: 3px;
    display: block;
    clear: both;
    white-space: nowrap;
    text-align: left;
}